* {
	margin: 0;
}
/*Header*/
header{
    position: fixed;
    width: 100%;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent;
} 
header.active {
	background: #4e69a2;
	color: black !important;
}
.logo{
	float: left;
	text-decoration: none;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size:20px;
}
#menu{ 
	float: right;
}
#menu ul{
	margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
#menu li{
	display: block;
  float: left;
  text-align: center;
}
#menu li a{
	display: block;
	color: white;
	text-decoration: none;
	height: 50px;
	line-height: 50px;
padding: 0 26px;
}
#menu li a:hover{
	color: #FFFFFF;
	font-weight: bold;
}
#nav-mobile{
	display: none;
  background: url(../img/nav.png) no-repeat center center;
  float: right;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top:0;
  opacity: 1;
}
#nav-mobile.nav-active{
	opacity: .6;
}
@media only screen and (max-width: 768px) {
	#nav-mobile{ display: block;
		}
	#menu{
		width: 100%;
	  float: none;
	  padding-top: 50px;
	}
	#menu ul{
		box-shadow: 0 1px 2px rgba(0,0,0,.5);
	  max-height: 0;
	  overflow: hidden;
	}
	#menu li{
		background: white;
	  float: none;
	}
	#menu li:last-child{ 
		border-bottom: 0;
	}
	#menu li a{
		padding: 15px 0;
	  height: auto;
	  line-height: normal;
	}
	#menu li a:hover{
		background:#002366;
	}
	#menu ul.open-menu{
		max-height: 400px;
	  transition: max-height .4s;
	}
}

@media only screen and (max-width: 500px) {

}

/*Section hero*/
.hero {
	background: url(../img/background/hero.jpg) no-repeat ;
	background-size: cover;
	height: 100vh;
}
.hero .opacity{
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	height: 100vh;
}
.cont-hero {
	color: white;
	text-align: center;
	width: 60%;
}
.cont-hero h1{
	font-size: 50px;
}
.cont-hero a{
	padding: 2%;
    border-radius: 3px;
    background: rgba(255,255,255,0.2);
    margin: 2%;
    color: white;
    display:inline-block;
    text-decoration: none;
}

.cont-hero a:hover{
	background: #2D313A;
}

@media only screen and (max-width: 768px) {
	.cont-hero {
		width: 80%;
	}
	.cont-hero h1{
	font-size: 40px;
}
}

/*Section Contenido*/
.contenido ul {
	margin: 0 auto;
}
.contenido .sub-cont{
	padding: 2% 5%;
    text-align: center;
    float: left;
    width: 33%;
    list-style: none;
	color: #888;

}
.contenido a{
	text-decoration: none;
	font-size: 50px;
	color: #22ACA9;
}



@media only screen and (max-width: 590px) {
	.contenido .sub-cont{
	    width: 100%;
	    list-style: none;
	}	
	.contenido p{
		font-size: 12px ;
	}
	.contenido a{
	font-size: 40px;
	}
}

/*Section More*/
.more {
	background: #F4F4F4;
}
.img-more{
	width: 60%;
	padding: 3% 0;

}
.img-more h3{
	text-align: center;
}
.img-more img{
	width: 100%;
}

.cont-more {
	padding: 5% 10% 0 10%;
	font-size: 14px;
}

.cont-more li {
	list-style: none;
    width: 50%;
    float: left;
    padding: 2%;
}
.icon-more {
	width: 8%;
    font-size: 28px;
    text-align: center;
    float: left;
    color:#22ACA9;
}

.texto-more {
	width: 90%;
    float: right;

}

.texto-more h5{
	color: #444;
    font-size: 18px;
    font-weight: 500;
}

.texto-more p{
	color: #444;
    font-size: 15px;
    font-weight: 400;
}
@media only screen and (max-width: 800px) {
	.icon-more {
	   font-size: 25px;
	}
	.cont-more li {
		width: 100%;
		font-size: 14px;
		padding: 0 10%;

	}
}
@media only screen and (max-width: 590px) {
	.img-more{
		width: 100%;
		padding: 0 !important;

	}
	.cont-more li {
		padding: 0 !important;

	}
	.cont-more {
		padding: 5%;
	}
	.texto-more p{
    font-size: 10px;
	}
	.texto-more h5{
    font-size: 15px;
	}
}


/* ============================================== Portfolio ================================================================= */
#portafolio {
	background: #F4F4F4;
}
ul#filterOptions{
margin: 0 auto;
padding: 3px 0;
list-style: none;
display: table; 
}

ul#filterOptions li{
float: left;
margin: 0 3px;
padding: 2px;
background: white;
}

ul#filterOptions li:hover {
	background: #22ACA9;
	color: white;
}

ul#filterOptions li a{
color:black;  
font-size:15px;
}
ul#filterOptions li.cur a{
 color:#7a7a7a;   
}
ul#filterOptions li a:hover{
 text-decoration:none;  
 color:white;
}
.box img{
max-width:100%;
height: 250px !important;
}
.portfolio-item .thumbnail{
margin:0;
position:relative;
}

.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
.thumb-img{
 position:relative;  
overflow:hidden;
}
.thumb-img a{
display:block;
background:#000;
-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;  
}
.thumb-img a:hover{
 -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;   
}
.thumb-img a:hover img{
 opacity:0.7;   
}
.folio-caption{
 position:absolute;
 bottom:-55px;
 left:0;
background:#FFF;
width:100%;
max-height:48px;
}
.folio-caption p{
color: #2C2C2C;
margin: 0;
text-align: center;
font-size: 15px;
}
.portfolio-item {
  margin: 0;
  padding:0 0;
}
.main-folio{
 margin:0 auto;
 width:100%;
padding:40px 0;
position:relative;
overflow:hidden;
}
ul.container_folio{
 margin:0 0 0 0;
padding:0 0;
list-style:none;
width:100% !important;

}
ul.container_folio li.box{
margin: 1%;
padding: 0px 17px;
width: 48%;
float: left;

float:left;
}
.col-md-12{
 clear:both;
}
.img-portfolio {
  margin: 0;
}

div.link{
visibility:hidden;
position:absolute;
top:0;
color:#fff;
font-size:14px;
}

.thumbnail {
border-radius: 0px;
}

@media only screen and (max-width: 800px) {

	ul.container_folio li.box{
		width: 84%;
    	margin: 2% 8%;
	}
}

@media only screen and (max-width: 590px) {
	ul.container_folio li.box{
		width: 100%;
    	margin: 2% 0;
    }
    ul#filterOptions li a {	    
	    font-size: 11px;
	}
	.btn {
		padding: 5px;
	}
}

@media only screen and (max-width: 350px) {
	ul#filterOptions li a {	    
	    font-size: 8px;
	}
	ul#filterOptions li {
		padding: 0;	    
	    margin: 0px 2px;
	}
}


/********Continuando*********************/
.font{
font-family: 'Open Sans'!important;
}

.package{
	background: #f0f0f0;
}
.t2-purchase a, .text1-package {
	color: #888; 
}
.btn-hero{
	background: rgba(255, 255, 255, 0.07);
	font-size: 1rem!important;
	padding: 5px 10px !important;
	
}
.purchase{
	background: white;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: gray!important;
}
::-webkit-textarea-placeholder{
	 color: gray!important;
}
:-moz-placeholder { color: gray; }
.bg-gray{
	background: #323a46 !important;
	color: white !important;

}
.btn1{

	padding: 30px 15px!important;
	font-size: 2.5rem !important;
}
.btn2{
	background: #09c1c4 !important;
	color: white !important;
	padding: 30px 15px!important;
	font-size: 2.5rem!important;
}
.photo-customers{
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
}
.hero-three{
	background: url('../img/background/contactus.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
}

.btn-celeste{
	background:#0BC0BF !important; 
	color: white !important;
	z-index: 10;
	padding: 10px 30px!important;
	font-size: 1.7rem!important;
}
.t2-purchase :hover{
	text-shadow: 1px 0px 8px #0CC0BF!important;
	font-size: 2rem;
	font-weight: 600;
	color: blue;
}
 .fa-twitter:hover, .fa-twitter:focus {
    color: #0dc0c0;
}
 .fa-facebook:hover, .fa-facebook:focus {
    color: blue;
}
.fa-linkedin:hover , .fa-linkedin:focus{
	color: #007BB6;
}
.fa-pinterest:hover , .fa-pinterest:focus{
	color: red;
}
.fa-google-plus:hover , .fa-google-plus:focus{
	color:#D21617 ;
}
.grow:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  margin-bottom: 3%;
}
.shadow :hover{
	text-shadow: 1px 0px 8px #0CC0BF!important;
}


@media (max-width: 590px) {
.hero-two {
	background-image: url('../img/background/city.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 10% 0%;
}
.hero-two div {
	padding: 10% 3%;
}
.text-hero2{
	line-height: 185%;
	padding-top: 4%!important;
	font-size: 2rem;
}
/* package*/
.text1-package{
	font-size: 1.5rem;
}
.text-hero2 a {
	padding: 5% 0;
	font-size: 70%!important;

}
.hero-row {
	background: rgba(0,0,0,.6);
}
.customers, .ultime {
	padding: 0 10%!important;
}
.h3-pd{
	padding-left: 5%;
}
.h3-pd-{
	padding-left: -5%;
}
.purchase {
	margin-bottom: 10%;
}
.t-purchase{
	padding: 10% 0%;
	background: #f0f0f0;
	font-size: 20px;
}
.photo-customers {
	margin-top: 10%;
}
.text-customers{
	margin-bottom: 5%;
	line-height: 2;
	font-size: 1.6rem;
}

input{
	color: white;
}
.hero-three-t{
	padding: 0 3%;
	height: 1250px;
}
}

@media (min-width: 590px) and (max-width: 770px){
.hero-two {
	background-image: url('../img/background/city.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 10% 0%;
}
.hero-two div {
	padding: 15% 3%;
}
.hero-row {
	background: rgba(0,0,0,.6);
}
.text-hero2 {
	line-height: 185%;
	padding: 5% 0 0!important;
	font-size: 2.9rem;
}
/****Package*/
.text1-package {
	font-size: 1.7rem;
}

.purchase {
	margin-bottom: 10%;
}
.t-purchase{
	padding: 10% 0%;
	background: #f0f0f0;
	font-size: 20px;
}
.hero-three-t{
	padding: 0 3%;
	height: 1250px;
}
}

@media (min-width: 770px) {
.hero-two {
	background-image: url('../img/background/city.jpg');
	background-size: 117% 190%;
	background-repeat: no-repeat;
	background-position: 10% 0%;

}
.hero-row {
	background: rgba(0,0,0,.6);
}
.text-hero2 {
	padding: 9% 0 1%!important;
	font-size: 2rem;
}
.hero-row {
	background: rgba(0,0,0,.6);
	padding-bottom: 8%!important;
}
.t2-purchase a, .text1-package {
	font-size: 1.3rem; 
}
.max{
	font-size: 130%;
}
.t-purchase{
	padding: 10% 0%;
	background: #f0f0f0;
	font-size: 15px;
}
.hero-three-t{
	padding: 0 3%;
	height: 800px;
}
}
@media (min-width: 1200px) {
.hero-two {
	background-image: url('../img/background/city.jpg');
	background-size: 100% 150%;
	background-repeat: no-repeat;
	background-position: 3px 30px;
	background-attachment: fixed;
}
.text-hero2 {
	padding: 9% 0 1%!important;
	font-size: 2rem;
}
.hero-row {
	background: rgba(0,0,0,.6);
	padding-bottom: 8%!important;
}
/***package*/
.t2-purchase a, .text1-package {
	
	font-size: 1.4rem;
    font-weight: 100; 
}
.max{
	font-size: 170%;
}
.t-purchase{
	padding: 15% 0%;
	background: #f0f0f0;
	font-size: 18px;
}
/**hero three*/

.columna2{
	padding: 0 5%;
}
/**customers**/
.text-customers {
	padding: 0 18%;
}
.text-ultime{
	padding: 0 18%;
}
.text-hero3{
	font-size: 1.3em;
}
.text-hero3-p2{
	font-size: 1.3em;
}
}
